<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/iac/src/reporters/securityReport.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="reporters.securityReport"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-w -cp /home/hcai//workspace/iac/bin:/home/hcai/Android/Sdk/platforms/android-23/android.jar -p cg verbose:false,implicit-entry:true -p cg.spark verbose:false,on-fly-cg:true,rta:false -d /home/hcai/gitrepo/iac/scripts/cg.instrumented/ -process-dir /home/hcai/workspace/4-t.apk -trace /home/hcai/workspace/4-t.logcat -srcsink /home/hcai/libs/SourcesAndSinks.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="iac"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea -Xmx1500m"/>
</launchConfiguration>
